[Unit]
Description=pad.freifunk-kassel.de (etherpad-lite)
After=syslog.target network.target

[Service]
Type=simple
User=ffks-pad
ExecStart=/home/ffks-pad/etherpad-lite/bin/run.sh

[Install]
WantedBy=multi-user.target
