[Unit]
Description=Node.js IRC bridge for Matrix
Requires=matrix-synapse.service
After=matrix-synapse.service

[Service]
Type=simple
User=matrix-appservice-irc
WorkingDirectory=/home/matrix-appservice-irc/node_modules/matrix-appservice-irc
ExecStart=/usr/bin/node app.js -c config.yaml -f appservice-registration-irc.yaml -p 8118

[Install]
WantedBy=multi-user.target
