[Unit]
Description=Starts and stops a single grafana instance on this system
Documentation=http://docs.grafana.org
Wants=network-online.target
After=network-online.target

[Service]
User=grafana
Group=grafana
Type=simple
Restart=on-failure
WorkingDirectory=/usr/share/grafana
ExecStart=/usr/sbin/grafana-server                                      \
                            --config={{ conf_file }}                    \
                            --pidfile={{ pid_file }}                    \
                            cfg:default.paths.logs={{ log_dir }}        \
                            cfg:default.paths.data={{ data_dir }}       \
                            cfg:default.paths.plugins={{ plugins_dir }}
LimitNOFILE=10000
TimeoutStopSec=20
UMask=0027

[Install]
WantedBy=multi-user.target
